.navigation ul li a.text

{

position: absolute;

color: var(--clr);

View the Full Source Code!

Link in my profile.

font-weight: 400;

font-size: 8.75em;

letter-spacing: 0.05em;

transition: 0.5s;

.navigation ul li

opacity: 0;

{

transform: translateY(20px);

position: relative;

}

list-style: none;

.navigation ul li.active a.text

width: 70px;

{

height: 70px;

transform: translateY(10px);

z-index: 1;

opacity: 1;

}

}
